eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/,http://localhost:8762/eureka/
  instance:
    prefer-ip-address: true  #ip注册
spring:
  application:
    name: SpringCloudEurekaClient01