.login{
    opacity: 0.92;
    width:400px;
    position:fixed;
    border:#ebebeb solid 1px;
    height:200px;
    top:50%;
    left:55%;
    background:#ffffff;
    /*box-shadow:0px 0px 20px #ddd;*/
    z-index:5000;
    margin-left:-250px;
    margin-top:-140px;
    border-radius:20px;
}
.login-title{
    width:100%;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align:center;
    line-height:40px;
    height:40px;
    font-size:20px;
    position:relative;
}
.login-title span{
    position:absolute;
    font-size:12px;
    right:-20px;
    top:-30px;
    background:#ffffff;
    border:#ebebeb solid 1px;
    width:40px;
    height:40px;
    border-radius:20px;
}
.login-title span a{
    display:block;
}
.login-input-content{
    margin-top:-20px;
}
.login-input {
    overflow:hidden;
    margin:0px 0px 13px 0px;
}
.login-input label{
    float:left;
    width:90px;
    padding-right:10px;
    text-align:right;
    line-height:38px;
    height:35px;
    font-size:15px;
}
.login-input input.list-input{
    float:left;
    line-height:35px;
    height:35px;
    width:280px;
    border:#ebebeb 0px solid;
    text-indent:5px;
    border-bottom-width: 1px;
}
.login-button{
    background: #00b3ee;
    width:20%;
    margin:10px auto 0px auto;
    line-height:30px;
    font-size:14px;
    text-align:center;
    border-radius: 40px;
    /*position: absolute;*/
    /*right: 6%;*/
    bottom: 13px;
}
.login-button a{
    display:block;
}


/*乱七八糟的东西*/
#aside{
    background: #4d4d4d;
}
img{
    width: 100%;
}
#message{
    width: 77%;
    margin: auto;
    /*margin-bottom: 100px;*/
    margin-bottom: 155px;
    margin-left: 22%;
}
.botui-message-left{
    min-height: 45px;
    margin: 10px 0;
}
.botui-message-right{
    min-height: 45px;
    margin: 10px 0;
    text-align: right;
}
.botui-message-content{
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 15px;
    color: #595a5a;
    background-color: #ffffff;
    width: auto;
    max-width: 80%;
    display: inline-block;
    margin-left: -40px;
}
.botui-message-content-img{
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 15px;
    color: #595a5a;
    backgroimgund-color: #ebebeb;
    width: auto;
    max-width: 20%;
    display: inline-block;
    margin-left: -40px;
}
.botui-message-content2{
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 15px;
    color: #f7f8f8;
    background-color: #00a5ff;
    width: auto;
    max-width: 80%;
    display: inline-block;
    text-align: start;
    margin-right: -40px;
    /*float: right;*/
}
.botui-message-content2-img{
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 15px;
    color: #f7f8f8;
    width: auto;
    max-width: 20%;
    display: inline-block;
    text-align: start;
    margin-right: -40px;
    /*float: right;*/
}
.footer{
    /*width: 77%;*/
    width: 79%;
    position: fixed;
    /*bottom: 10px;*/
    bottom: -140px;
    /*left: 22%;*/
    left: 21%;
    z-index: 150;
    /*height: 64px;*/
    /*width: 100%;*/
    /*padding:15px;*/
    font-size: 16px;
    color: #000000;
    background: rgba(255, 255, 255, 0.90);
    /*border-radius: 40px;*/
    min-height: 120px;
}

.botui-actions-text-input {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    font-family: "Open Sans",sans-serif;
    background-color: transparent;
    color: #595a5a;
    width: 90%;
}
.blueButton
{
    position: absolute;
    display: block;
    width: 80px;
    height: 40px;
    background-color: #00b3ee;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font:normal normal normal 16px/40px 'Microsoft YaHei';
    cursor: pointer;
    border-radius: 40px;
}
.blueButton:hover
{
    text-decoration: none;
}
/*自定义上传,位置大小都和a完全一样,而且完全透明*/
.myFileUpload
{
    display: block;
    width: 80px;
    height: 40px;
    opacity: 0;
}
#imageUp{
    position: fixed;
    bottom: 20px;
    right: 2%;
    z-index: 151;
}
.sendUser{
    margin-top: 15px;
}
.list-input::-webkit-input-placeholder{
    color: #777;
    font-size: 14px;
}
/* Mozilla Firefox 4 to 18 */
.list-input::-moz-placeholder {
    color: #777;
    font-size: 14px;
}
/* Mozilla Firefox 19+ */
.list-input::-moz-placeholder {
    color: #777;
    font-size: 14px;
}
/* Internet Explorer 10+ */
.list-input:-ms-input-placeholder {
    color: #777;
    font-size: 14px;
}
#text{
    min-height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.emoji_icon{
    max-width: 25px;
}